.App {
  font-family: sans-serif;
  /* text-align: center; */
  margin: 0px;
}

@font-face {
  font-family: "monserrat-semibold";
  src: url("../public/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "monserrat-light";
  src: url("../public/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "monserrat-extra-light";
  src: url("../public/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "monserrat-medium";
  src: url("../public/fonts/Montserrat-Medium.ttf") format("truetype");
}

/* generals */

* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "monserrat-medium";
}

header {
  background-color: black;
  color: white;
  padding: 10px 10px;
  position: sticky;
  top: 0px;
  font-family: "monserrat-semibold";
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  list-style: none;
  margin: 0px;
  font-family: "monserrat-medium";
}

img {
  width: 50px;
}

.post-wrap {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.2s;
  /* maybe change the width */
  width: 320px;
  font-family: "monserrat-medium";
}

/* .post-wrap:hover {
    box-shadow: 6px 10px 21px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 6px 10px 21px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 10px 21px -1px rgba(0, 0, 0, 0.75);
} */

/* feed-wrap */
.feed-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.post-wrap {
  overflow: hidden;
}

/* top */
.top {
  background-color: #90d7ff;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}

.post-image-wrap img {
  width: 100%;
}

/* likes wrap */
.post-like {
  display: flex;
  align-items: center;
  margin: 5px 3px;
}

.post-like p {
  margin-left: 5px;
}

.heart:hover {
  cursor: pointer;
}

.heart {
  width: 25px;
}

/* trash */
.trash-wrap {
  border: 1px solid black;
  width: fit-content;
  border-radius: 4px;
  padding: 2px;
  background-color: #e7e7e7;
}

.trash-wrap:hover {
  background-color: #ffd0d0;
  cursor: pointer;
}

.trash-wrap img {
  width: 20px;
}

/* comments */
.comments-wrap {
  font-size: 13px;
}

.comment-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-top: 1px solid lightblue;
  flex-wrap: wrap;
}

.comments-top {
  display: flex;
  justify-content: space-between;
}

.comments-bottom p {
  margin: 5px;
}

input {
  width: 80%;
  padding: 5px 2px;
  font-family: "monserrat-medium";
}

input:focus {
}

button {
  width: 20%;
  padding: 5px 0px;
  background-color: black;
  color: white;
  font-family: "monserrat-medium";
  cursor: pointer;
  border: none;
}
